---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ entry.title }}</h1>
      <p>{{ entry.author }}</p>

      {% if entry.journal %}
      <p><strong>Journal:</strong> {{ entry.journal }}{% if entry.volume %}, vol. {{ entry.volume }}{% endif %}{% if entry.number %}, no. {{ entry.number }}{% endif %}{% if entry.pages %}, pp. {{ entry.pages }}{% endif %}</p>
      {% endif %}

      {% if entry.doi %}
        <p><a class="btn btn-primary" href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank">DOI</a></p>
      {% endif %}

      {% if entry.file %}
        <p><a class="btn btn-success" href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank">PDF</a></p>
      {% endif %}

      {% if entry.abstract %}
        <h3>Abstract</h3>
        <pre>{{ entry.abstract }}</pre>
      {% endif %}

      <h3>BibTeX</h3>
      <pre>{{ entry.bibtex }}</pre>
    </div>
  </div>
</div>

<!-- JSON-LD for the detail page -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if entry.type == 'article' %}ScholarlyArticle{% elsif entry.type == 'inproceedings' or entry.type == 'incollection' %}ScholarlyArticle{% elsif entry.type == 'thesis' %}Thesis{% else %}CreativeWork{% endif %}"
  {% if entry.title %}, "headline": {{ entry.title | jsonify }}{% endif %}
  {% if entry.author %}, "author": {{ entry.author | jsonify }}{% endif %}
  {% if entry.year %}, "datePublished": {{ entry.year | jsonify }}{% endif %}
  {% if entry.journal %}, "isPartOf": { "@type": "Periodical", "name": {{ entry.journal | jsonify }} }{% endif %}
  {% if entry.doi %}, "identifier": { "@type": "PropertyValue", "propertyID": "doi", "value": {{ entry.doi | jsonify }} }{% endif %}
  {% if entry.url %}, "url": {{ entry.url | jsonify }}{% endif %}
  {% if entry.abstract %}, "description": {{ entry.abstract | jsonify }}{% endif %}
}
</script>
